*{
  box-sizing: border-box;
}

h2 {
  font-family: sans-serif;
  font-size: 50px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  font-family: sans-serif;
   color: #080808;
}

.site-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 auto;
  padding: 0 100px;
}


.navigation {
  list-style: none;
  font-size: 18px;
}

.navigation li {
  float: right;
  padding-right: 20px;
}

.navigation li a {
  color: silver;
}

.navigation li a:hover {
  color: #333;
}

section {
  margin: 0 7%;
}

article {
  display: grid;
  width: 30%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  row-gap: 25px;
  padding: 0 10px;
  /*filter: grayscale(100%);*/
}

article img + p {
  text-align: center;
  font-family: sans-serif;
  font-size: 1.2vw;
  color: #141414;
}

/*.gallery:hover {
  filter: grayscale(0%);
}/*/

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 80px auto;
  
}

.about-me {
  display: inline-flex;
  flex-wrap: nowrap;
}

.profile > img {
  width: 50%;
  margin: 0 30px 0px 180px;
  display: inline-block;
}

.bio {
  display: inline-block;
  font-family: sans-serif;
  margin: 0px 125px 0px 0px;
  text-align: justify;
}

.social-icon-link {
    margin-right: 2px;
    margin-left: 2px;
    padding: 3px;
}

.social-icon-link:hover {
  opacity: 0.57;
    -webkit-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

.copyright {
  display: block;
  color: silver;
  text-align: center;
  font-family: sans-serif;
}

@media only screen and (max-width: 815px) {
  h2 {
    font-size: 24px;
    width: 100%;
  }

  ul.logo {
    margin: 0;
  }

  .navigation {
    display: none;
  }

  article {
  display: grid;
  width: 100%;
  row-gap: 10px;
}

  .footer {
    height: 100px;
  }
  
}